{% extends 'store/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'store/images/bg_1.jpg'%});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="#" class="active">All</a></li>
    					<li><a href="#">Vegetables</a></li>
    					<li><a href="#">Fruits</a></li>
    					<li><a href="#">Juice</a></li>
    					<li><a href="#">Dried</a></li>
    				</ul>
    			</div>
    		</div>
    		<div class="row">
                {% for product in data %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="/product/{{product.id}}" class="img-prod"><img class="img-fluid" src="/{{product.image}}" alt="Colorlib Template">
                            {% if product.discount_value %}
    						<span class="status">{{product.discount_value}}%</span>
    						<div class="overlay"></div>
                            {% endif %}
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{product.name}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
                                    {% if product.discount_value %}
		    						<p class="price"><span class="mr-2 price-dc">${{product.price_before}}</span><span class="price-sale">${{product.price_after}}</span></p>
                                    {% else %}
                                    <p class="price"><span class="price-sale">${{product.price_before}}</span></p>
                                    {% endif %}
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
                {% endfor %}
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
   {% endblock %}
{% block scripts %}
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'store/js/jquery.min.js'%}"></script>
  <script src="{% static 'store/js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'store/js/popper.min.js'%}"></script>
  <script src="{% static 'store/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'store/js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'store/js/jquery.waypoints.min.js'%}"></script>
  <script src="{% static 'store/js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'store/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'store/js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{% static 'store/js/aos.js'%}"></script>
  <script src="{% static 'store/js/jquery.animateNumber.min.js'%}"></script>
  <script src="{% static 'store/js/bootstrap-datepicker.js'%}"></script>
  <script src="{% static 'store/js/scrollax.min.js'%}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'store/js/google-map.js'%}"></script>
  <script src="{% static 'store/js/main.js'%}"></script>
    
  </body>
</html>
{% endblock %}